<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.CategoryMapper">
    <select id="getAllCategories" resultType="org.sang.pojo.po.Column">
        SELECT * FROM columns
    </select>
    <!--专栏分页查询-->
    <select id="pageQuery" resultType="org.sang.pojo.po.Column">
        select * from columns
        <where>
            <if test="columnName!=null and columnName!=''">
                cateName like concat('%',#{columnName},'%')
            </if>
        </where>
    </select>
    <delete id="deleteCategoryByIds">
        DELETE FROM columns WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <update id="updateCategoryById" parameterType="org.sang.pojo.po.Column">
        UPDATE columns SET cateName=#{cateName} WHERE id=#{id}
    </update>
    <insert id="addCategory" parameterType="org.sang.pojo.po.Column">
        INSERT INTO columns SET date=#{date},cateName=#{cateName}
    </insert>
</mapper>