<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.ColumnMapper">
    <!--专栏分页查询-->
    <select id="pageQuery" resultType="org.sang.pojo.po.Column">
        select * from columns
        <where>
            <if test="columnName!=null and columnName!=''">
                column_name like concat('%',#{columnName},'%')
            </if>
        </where>
    </select>
</mapper>